@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

.login-pf body {
  height: 100%;
  background: white !important;
}

#kc-header-wrapper {
  display: none;
}

#kc-locale {
  display: none;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root .card-pf {
  max-width: unset;
}

#root * {
  font-family: "Montserrat", sans-serif;
}

#root *::placeholder {
  font-family: "Montserrat", sans-serif;
}

#root #kc-login-form {
  /* transform: translate(0, -20%); */
  margin-top: -10rem;
  width: 55rem;
  max-width: 98vw;
}

#root #kc-login-form.form-reset-wrap {
  width: 70rem;
}

#root #kc-page-title {
  color: #4e46b4;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

#root .reset-password-description {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#root .alert.alert-success {
  display: none;
  font-size: 1.4rem;
}

#root .alert.alert-error {
  border-radius: 6px;
}

#root .alert .pficon {
  display: none;
}

#root .alert .kc-feedback-text {
  font-size: 1.3rem;
  color: #c00;
}

#root .control-label {
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
}

#root .require-field .control-label::after {
  content: "*";
  color: #c00;
  margin-left: 0.3rem;
}

#root .name-wrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

#root .name-wrap .form-group {
  margin-bottom: 0;
}

#root .name-wrap .form-group + .form-group {
  margin-left: -0.8rem;
}

#root .form-control {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  max-height: unset;
  height: unset;
  font-size: 1.4rem;
}

#root .btn[type="submit"] {
  background-color: #4e46b4 !important;
  background-image: none;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  padding: 1.2rem;
}

#root .error-message {
  color: #c00;
}

#root .navigate-link {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
}

#root .navigate-link a {
  color: #4e46b4;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 1rem;
}

#root .navigate-btn {
  display: flex;
  justify-content: center;
}

#root .divide-line {
  border-top: 1px solid #eee;
  margin: -1rem auto 3rem;
}

#root .form-wrap {
  /* padding: 0 8rem; */
}

#root .navigate-btn a {
  padding: 1rem 1rem;
  width: 20rem;
  border-radius: 0.6rem;
  margin: auto;
  background-color: #27ae60;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (max-width: 700px) {
  #root .form-wrap {
    padding: 0 10%;
  }

  #root .card-pf {
    padding: 0;
  }
}

#root #kc-login-form.form-reset-wrap .btn-wrap {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

#root .form-reset-wrap #kc-form-buttons {
  margin: 0;
}

#root .form-reset-wrap .divide-line {
  margin-top: 1.5rem;
}

#root .form-reset-wrap .cancel-reset-btn {
  border: 1px solid #aaa;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

#root .form-reset-wrap .cancel-reset-btn a {
  text-decoration: none;
  color: #030303;
}
